html
  head
    style
        include ../public/stylesheets/style.css
        include ../public/stylesheets/all.css
    title= title
  body(style={'background-image': bgUrl})
    #top-bar
      div(class='right-panel', style={color: theme})
        div(class='fas fa-pencil-alt', id='edit-btn')
        div(class='fas fa-image', id='wallpapers-btn')
        div(class='fas fa-cog', id='settings-btn')
        div(class='fas fa-plus', id='new-block-btn')
    include new-block.pug
    include settings.pug
    include wallpapers.pug
    include icons.pug
    include editor-blocks.pug
    include widget.pug
    #blocks-location-wrapper-editor

    script(src="/javascripts/script.js")

  footer
    #cheese-board(onclick='openInNewTab("https://github.com/asco88/cheese-board")')
      div(id='title')
        span='cheese-board'
      div(class='fas fa-cheese', id='cheese-btn')


