html
  head
    style
        include ../public/stylesheets/style.css
    title= title
  body
    div(class='top-bar')
      div(class='fas fa-plus-square', id='newblock')
      div(id='newblockblock')
    div(class='blocks-main')
        each block in blocks
            div(class='blocks-single-block' style={
                    width: block.width,
                    height: block.height,
                    background: block.background,
                })
                div(class='blocks-single-block-name')= block.name
                div(class='blocks-single-block-text')= block.text
                  //- div(class='fas fa-cloud')
                  img(class='blocks-single-block-icon' ,src=block.icon)
        else
            div(class='blocks-empty')

    script(src='https://kit.fontawesome.com/615e2ad26d.js' crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' crossorigin='anonymous')
    script(src="/javascripts/script.js")
