div(id='new-block-wrapper')
    div(id='new-block-main')
        div(id='title')
            h1="Add new block"
        div(id='body')
            textarea(id='new-block-text')
            input(type='text', id='new-block-link', placeholder='link')
            input(type='text', id='new-block-transperent', placeholder='transperent' value='true')
            input(type='text', id='new-block-icon', placeholder='icon')
        div(id='footer')
            div(id='cancel-btn')
                span="Cancel"
            div(id='submit-btn')
                span="Add Block"