div(id='settings-wrapper')
    div(id='settings-main')
        div(id='title')
            h1="Settings"
        div(id='body')
            textarea(id='settings-text')
            input(type='text', id='settings-background', placeholder='/images/bg5.jpg')
            input(type='text', id='settings-icon-size', placeholder='50px')
        div(id='footer')
            div(id='cancel-btn')
                span="Cancel"
            div(id='submit-btn')
                span="Add Block"