body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/bg3.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover; }

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px; }
  .top-bar .right-panel {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .top-bar .right-panel #new-block-btn,
    .top-bar .right-panel #settings-btn {
      cursor: pointer;
      margin-left: 20px; }
    .top-bar .right-panel #new-block-btn:hover,
    .top-bar .right-panel #settings-btn:hover {
      color: white;
      cursor: pointer; }
    .top-bar .right-panel #edit-btn:hover {
      color: white;
      cursor: pointer; }

#new-block-wrapper {
  display: none; }

#new-block-main {
  position: absolute;
  width: 20%;
  /* height: 20%; */
  top: 20%;
  right: 40%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  /* background-color: lightgrey; */
  z-index: 1000;
  /* opacity: 0.8; */
  background: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.6); }
  #new-block-main #title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 11px;
    height: 20%; }
  #new-block-main #body {
    height: 70%;
    padding: 20px; }
    #new-block-main #body .new-block-row {
      display: flex;
      flex-direction: row;
      padding: 5px;
      justify-content: space-between; }
      #new-block-main #body .new-block-row span {
        font-size: 11px;
        display: flex;
        width: 30%;
        align-items: center; }
      #new-block-main #body .new-block-row input {
        width: 60%;
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 3px;
        outline: none; }
  #new-block-main #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #d4d4d4;
    height: 10%;
    font-size: 10px;
    cursor: pointer;
    align-items: center;
    font-weight: 600; }
    #new-block-main #footer #submit-btn:hover,
    #new-block-main #footer #cancel-btn:hover {
      color: rgba(255, 255, 255, 0.6); }

.blocks-wrapper {
  position: absolute;
  top: 0; }
  .blocks-wrapper .blocks-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .blocks-wrapper .blocks-main .blocks-single-block {
      padding: 5px;
      margin: 10px;
      font-family: Arial;
      font-size: 15px;
      line-height: 1.5;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .blocks-wrapper .blocks-main .blocks-single-block .blocks-single-block-editor {
        color: black;
        border: 1px rgba(0, 0, 0, 0.5) solid;
        opacity: 0.7;
        background: white;
        border-radius: 12px;
        text-align: center;
        font-size: 11px; }
      .blocks-wrapper .blocks-main .blocks-single-block .blocks-single-block-name {
        /* height: 30%; */
        font-size: 13px;
        font-weight: 700;
        text-align: center;
        color: #ffffff; }
      .blocks-wrapper .blocks-main .blocks-single-block .blocks-single-block-text {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .blocks-wrapper .blocks-main .blocks-single-block .blocks-single-block-text .blocks-single-block-icon {
          border: 1px solid rgba(1, 1, 1, 0.5);
          border-radius: 6px;
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
          background: #ffffff;
          padding: 5px; }
          .blocks-wrapper .blocks-main .blocks-single-block .blocks-single-block-text .blocks-single-block-icon .blocks-single-block img {
            width: 35px;
            text-align: center; }
        .blocks-wrapper .blocks-main .blocks-single-block .blocks-single-block-text:hover {
          opacity: 0.9; }
      .blocks-wrapper .blocks-main .blocks-single-block.editor {
        border: 2px black solid; }

#settings-wrapper {
  display: none; }
  #settings-wrapper #settings-main {
    position: absolute;
    width: 20%;
    /* height: 20%; */
    top: 20%;
    right: 40%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    /* background-color: lightgrey; */
    z-index: 1000;
    /* opacity: 0.8; */
    background: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.6); }
    #settings-wrapper #settings-main #title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 11px;
      height: 20%; }
    #settings-wrapper #settings-main #body {
      height: 70%;
      padding: 20px; }
      #settings-wrapper #settings-main #body #settings-chane-wallpaper-btn {
        width: 100%;
        text-align: center;
        font-size: 10px;
        background: rgba(100, 150, 150, 0.3);
        cursor: pointer;
        border-radius: 5px;
        padding: 1px;
        margin-bottom: 10px;
        color: rosybrown;
        font-weight: 500; }
      #settings-wrapper #settings-main #body .new-block-row {
        display: flex;
        flex-direction: row;
        padding: 5px;
        justify-content: space-between; }
        #settings-wrapper #settings-main #body .new-block-row span {
          font-size: 11px;
          display: flex;
          width: 30%;
          align-items: center; }
        #settings-wrapper #settings-main #body .new-block-row input {
          width: 60%;
          border: 1px solid rgba(0, 0, 0, 0.5);
          padding: 3px;
          outline: none; }
    #settings-wrapper #settings-main #footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #d4d4d4;
      height: 10%;
      font-size: 10px;
      cursor: pointer;
      align-items: center;
      font-weight: 600; }
      #settings-wrapper #settings-main #footer #submit-btn:hover,
      #settings-wrapper #settings-main #footer #cancel-btn:hover {
        color: rgba(255, 255, 255, 0.6); }

#wallpapers-wrapper {
  display: none; }
  #wallpapers-wrapper #wallpapers-main {
    position: absolute;
    width: 50%;
    /* height: 20%; */
    top: 20%;
    right: 25%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    /* background-color: lightgrey; */
    z-index: 1000;
    /* opacity: 0.8; */
    background: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.6); }
    #wallpapers-wrapper #wallpapers-main #title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 11px;
      height: 20%; }
    #wallpapers-wrapper #wallpapers-main #body {
      height: 70%;
      padding: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      #wallpapers-wrapper #wallpapers-main #body .wallpapers-single {
        padding: 10px; }
        #wallpapers-wrapper #wallpapers-main #body .wallpapers-single:hover {
          padding: 0px;
          border: 10px rgba(0, 0, 0, 0.1) solid;
          cursor: pointer; }
        #wallpapers-wrapper #wallpapers-main #body .wallpapers-single.active {
          padding: 0px;
          border: 10px rgba(0, 0, 200, 0.3) solid; }
    #wallpapers-wrapper #wallpapers-main #footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #d4d4d4;
      height: 10%;
      font-size: 10px;
      cursor: pointer;
      align-items: center;
      font-weight: 600; }
      #wallpapers-wrapper #wallpapers-main #footer #submit-btn:hover,
      #wallpapers-wrapper #wallpapers-main #footer #cancel-btn:hover {
        color: rgba(255, 255, 255, 0.6); }

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.cheese-board {
  position: absolute;
  bottom: 40px;
  opacity: 0.8;
  width: 150px;
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .cheese-board:hover {
    opacity: 1;
    cursor: pointer; }
  .cheese-board #title {
    text-decoration: none;
    color: white; }
