body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #99eaff;
}

.blocks-main {
  display: flex;
  flex-direction: row;
}

.blocks-single-block {
  opacity: 0.8;
  padding: 10px;
  margin: 10px;
  border:1px solid rgba(1, 1, 1, 0.5);
  border-radius: 6px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  font-family: Arial;
  font-size: 15px;
  line-height: 1.5;
}

.blocks-single-block-name {
  font-weight: 700;
  text-align: center;
}