body {
    padding: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url('../images/bg3.jpg');
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;

    .right-panel {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        #new-block-btn,
        #settings-btn,
        #wallpapers-btn {
            cursor: pointer;
            margin-left: 20px;
        }

        #new-block-btn:hover,
        #settings-btn:hover,
        #wallpapers-btn:hover {
            color: white;
            cursor: pointer;
        }

        #edit-btn {
            &:hover {
                color: white;
                cursor: pointer;
            }
        }
    }
}

#new-block-wrapper {
    display: none;
}

#new-block-main {
    position: absolute;
    width: 20%;

    /* height: 20%; */
    top: 20%;
    right: 40%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 4px;

    /* background-color: lightgrey; */
    z-index: 1000;

    /* opacity: 0.8; */
    background: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.6);

    #title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 11px;
        height: 20%;
    }

    #body {
        height: 70%;
        padding: 20px;

        .new-block-row {
            display: flex;
            flex-direction: row;
            padding: 5px;
            justify-content: space-between;

            span {
                font-size: 11px;
                display: flex;
                width: 30%;
                align-items: center;
            }

            input {
                width: 60%;
                border: 1px solid rgba(0, 0, 0, 0.5);
                padding: 3px;
                outline: none;
            }
        }

    }

    #footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #d4d4d4;
        height: 10%;
        font-size: 10px;
        cursor: pointer;
        align-items: center;
        font-weight: 600;

        #submit-btn:hover,
        #cancel-btn:hover {
            color: rgba(255, 255, 255, 0.6);
        }
    }
}

.blocks-location-wrapper {
    position: absolute;
    top: 100px;
    // width: ;
}

.blocks-location-section {
    border-left: 5px black solid;
}

#blocks-location-1 {
    border: 3px black dashed;
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
}
#blocks-location-2 {
    border: 3px black dashed;
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
}
#blocks-location-3 {
    border: 3px black dashed;
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
}
#blocks-location-4 {
    border: 3px black dashed;
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
}
#blocks-location-5 {
    border: 3px black dashed;
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
}
#blocks-location-6 {
    border: 3px black dashed;
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
}
#blocks-location-7 {
    border: 3px black dashed;
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
}

.blocks-wrapper {
    // position: absolute;
    // top: 0;

    .blocks-main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .blocks-single-block {
            padding: 5px;
            margin: 10px;
            font-family: Arial;
            font-size: 15px;
            line-height: 1.5;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .blocks-single-block-editor {
                color: black;
                border: 1px rgba(0, 0, 0, 0.5) solid;
                opacity: 0.7;
                background: white;
                border-radius: 12px;
                text-align: center;
                font-size: 11px;
            }

            .blocks-single-block-name {
                /* height: 30%; */
                font-size: 13px;
                font-weight: 700;
                text-align: center;
                color: #ffffff;
            }

            .blocks-single-block-text {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .blocks-single-block-icon {
                    border: 1px solid rgba(1, 1, 1, 0.5);
                    border-radius: 6px;
                    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
                    background: #ffffff;
                    padding: 5px;

                    .blocks-single-block img {
                        width: 35px;
                        text-align: center;
                    }
                }

                &:hover {
                    opacity: 0.9;
                }
            }

            &.editor {
                border: 2px black solid;
            }
        }
    }
}

#settings-wrapper {
    display: none;

    #settings-main {
        position: absolute;
        width: 20%;

        /* height: 20%; */
        top: 20%;
        right: 40%;
        border: 1px solid rgba(0, 0, 0, 0.8);
        border-radius: 4px;

        /* background-color: lightgrey; */
        z-index: 1000;

        /* opacity: 0.8; */
        background: white;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        color: rgba(0, 0, 0, 0.6);

        #title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 11px;
            height: 20%;
        }

        #body {
            height: 70%;
            padding: 20px;

            #settings-chane-wallpaper-btn {
                width: 100%;
                text-align: center;
                font-size: 10px;
                background: rgba(100, 150, 150, 0.3);
                cursor: pointer;
                border-radius: 5px;
                padding: 1px;
                margin-bottom: 10px;
                color: rosybrown;
                font-weight: 500;
            }

            .new-block-row {
                display: flex;
                flex-direction: row;
                padding: 5px;
                justify-content: space-between;

                span {
                    font-size: 11px;
                    display: flex;
                    width: 30%;
                    align-items: center;
                }

                input {
                    width: 60%;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    padding: 3px;
                    outline: none;
                }
            }

        }

        #footer {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: #d4d4d4;
            height: 10%;
            font-size: 10px;
            cursor: pointer;
            align-items: center;
            font-weight: 600;

            #submit-btn:hover,
            #cancel-btn:hover {
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}

#wallpapers-wrapper {
    display: none;

    #wallpapers-main {
        position: absolute;
        width: 50%;

        /* height: 20%; */
        top: 20%;
        right: 25%;
        border: 1px solid rgba(0, 0, 0, 0.8);
        border-radius: 4px;

        /* background-color: lightgrey; */
        z-index: 1000;

        /* opacity: 0.8; */
        background: white;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        color: rgba(0, 0, 0, 0.6);

        #title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 11px;
            height: 20%;
        }

        #body {
            height: 400px;
            padding: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow-y: scroll;

            .wallpapers-single {
                padding: 10px;

                &:hover {
                    padding: 0px;
                    border: 10px rgba(0, 0, 0, 0.1) solid;
                    // background-color: rgba(0, 0, 0, 0.1);
                    cursor: pointer;
                }

                &.active {
                    padding: 0px;
                    border: 10px rgba(0, 0, 200, 0.3) solid;
                }
            }
        }

        #footer {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: #d4d4d4;
            height: 10%;
            font-size: 10px;
            cursor: pointer;
            align-items: center;
            font-weight: 600;

            #submit-btn:hover,
            #cancel-btn:hover {
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}

#icons-wrapper {
    display: none;

    #icons-main {
        position: absolute;
        width: 50%;

        /* height: 20%; */
        top: 20%;
        right: 25%;
        border: 1px solid rgba(0, 0, 0, 0.8);
        border-radius: 4px;

        /* background-color: lightgrey; */
        z-index: 1000;

        /* opacity: 0.8; */
        background: white;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        color: rgba(0, 0, 0, 0.6);

        #title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 11px;
            height: 20%;
        }

        #body {
            height: 70%;
            padding: 20px;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .icons-single {
                padding: 10px;

                &:hover {
                    padding: 0px;
                    border: 10px rgba(0, 0, 0, 0.1) solid;
                    // background-color: rgba(0, 0, 0, 0.1);
                    cursor: pointer;
                }

                &.active {
                    padding: 0px;
                    border: 10px rgba(0, 0, 200, 0.3) solid;
                }

                img {
                    width: 70px;
                    height: auto;
                }
            }
        }

        #footer {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background-color: #d4d4d4;
            height: 10%;
            font-size: 10px;
            cursor: pointer;
            align-items: center;
            font-weight: 600;

            #submit-btn:hover,
            #cancel-btn:hover {
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cheese-board {
    position: absolute;
    bottom: 40px;
    opacity: 0.8;
    width: 150px;
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }

    #title {
        text-decoration: none;
        color: white;
    }
}